@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Elymaic&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

nav{
    height: 60px;
padding: 0px 20px;

}


li:hover{
    color: #ed1c24;


}

.navbtn{
    color: #ed1c24;
    width: 140px;
    height: 40px;
    background-image: url(/img/drop.svg);
    background-repeat: no-repeat;
    background-position:10px;
    text-indent: 20px;
    border: 1px solid rgba(128, 128, 128, 0.384);
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;

}

.navbtn:hover{
    color: black;
    border: 1px solid #ed1c24;

}
a{
    text-decoration: none;
    color: #000;
}
.sect1btn{
    width: 200px;
    height: 50px;
    background-color: #ed1c24;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    font-family: "Montserrat", sans-serif;

}

.sect1btn:hover{
    opacity: 0.5;
}
.sect4btn:hover{
    opacity: 0.5;
}


.sect1p{
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: 50px;
}

.sect1p2{
    margin-top: -30px;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: 50px;
}

.sect2{
    padding: 0px 80px;
    margin-top: 50px;
}

.sect2topbtndiv{
    background-color: #F1F5F9;
    width: 50%;
    height: 40px;
}

.sect2topbtn1{

    width: 40%;
    height: 100%;
    border: none;
background-image: url(img/btn1.svg);
background-repeat: no-repeat;
    background-color: #F1F5F9;
    background-position: 15px;
background-size: 13%, 60%;
    text-indent: 20px;
    font-size: 18px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 560;
font-style: 50px;
}

.sect2topbtn2{
    width: 40%;
    height: 100%;
    background-color: #F1F5F9;
    border: none;
    background-image: url(img/btn2.svg);
background-repeat: no-repeat;
background-position: 50px;
background-size: 10%, 60%;
text-indent: 20px;
font-size: 20px;
font-size: 20px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: 50px;
}

.sect2topbtn3{

    width: 40%;
    height: 100%;
    border: none;
    background-color: #F1F5F9;
    background-image: url(img/btn3.svg);
background-repeat: no-repeat;
background-size: 10%, 60%;
background-position: 40px;
text-indent: 20px;
font-size: 20px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: 50px;

}

.sect2topbtn1:focus{
  color: #fff;
    background-color: #000000;
    background-image: url(img/focus_btn1.svg);
}

.sect2topbtn2:focus{
    color: #fff;
      background-color: #000000;
      background-image: url(img/focus_btn2.svg);
  }

  .sect2topbtn3:focus{
    color: #fff;
      background-color: #000000;
      background-image: url(img/focus_btn3.svg);

  
  
  }

  .sect2btmbtn1{
   width: 8px;
   height: 10px;
   border: none;
   background: #e2eaf3;
  }
  .sect2btmbtn2{
   width: 8px;
   height: 10px;
   border: none;
   background: #e2eaf3;
  }
  .sect2btmbtn3{
   width: 8px;
   height: 10px;
   border: none;
   background: #e2eaf3;
  }


  .sect2btmbtn1:focus{
    background:#ed1c24;
   }
  .sect2btmbtn2:focus{
    background:#ed1c24;
   }
  .sect2btmbtn3:focus{
    background:#ed1c24;
   }


  .sect2pcon{
    padding: 0px 12%;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    word-spacing: 1px;
    
}

  .sect3{
    padding: 0px 20%;
  }
  .sect3div1{
    height: 350px;
    background-color: #F1F5F9;
  }

  .sect3div2{
    height: 300px;
    background-color: #F1F5F9;
  }

  .sect3div3{
    height: 250px;
    background-color: #F1F5F9;
  }

  .imgcon{
    width: 80%;
    margin-left: 70px;
  }

  .sect3p1{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    
  }

  .sect3{
    padding: 0px 20%;
  }

  .sect4{
    padding: 0px 16%;
  }
  .sect4img{
    width: 100%;
    height: 100%;
  }
  .sectimgcon{
    width: 50%;
    height: 400px;
    bottom: 1px solid black;
    }

  .sectpcon{
    width: 45%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #000;
  }

  .sect4p1{
   font-weight: 700;
   font-size: 40px;

  }

.sect4div1{
    font-family: "Montserrat", sans-serif;
    width: 40%;
}

.sect4p3{
    color: #ed1c24;
}

.sect4btn{
    width: 200px;
    height: 50px;
    background-color: #ed1c24;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    font-family: "Montserrat", sans-serif;

}

  @media screen and (max-width:900px) {
    .imgcon{
        width: 80%;
        margin-left: 60px;
      }
      .sect3{
        padding: 0px 10%;
      }
    
      .sect3p1{
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        
      }

      .sect3p2{
        font-size: 8px;
        font-family: "Montserrat", sans-serif;
        
      }
      .sect2{
        padding: 0px 20px;
        margin-top: 50px;
    }
      .sect2topbtndiv{
       width: 80%;
    }

    .sect2topbtn1{
        background-position: 30px;
    background-size: 13%, 60%;
        text-indent: 20px;
        font-size: 12px;
    color: #000;
    }
    
    .sect2topbtn2{
    background-position: 50px;
    background-size: 10%, 60%;
    text-indent: 10px;
    font-size: 14px;
    color: #000;
    }
    
    .sect2topbtn3{
    background-position: 50px;
    text-indent: 20px;
    font-size: 14px;
    color: #000;
    }

    .sect2topbtn1:hover{
        color: #fff;
        background-color: #000000;
        background-image: url(img/focus_btn1.svg);
      }
    .sect2topbtn2:hover{
        color: #fff;
          background-color: #000000;
          background-image: url(img/focus_btn2.svg);
      }
    
      .sect2topbtn3:hover{
        color: #fff;
          background-color: #000000;
          background-image: url(img/focus_btn3.svg);
    
      
      
      }

      .sect2btmbtn1{
        width: 8px;
        height: 8px;
       }
       .sect2btmbtn2{
        width: 8px;
        height: 8px;
       }
       .sect2btmbtn3{
        width: 8px;
        height:8px;

       }

      .sect2btmbtn1:hover{
        background:#ed1c24;
       }
      .sect2btmbtn2:hover{
        background:#ed1c24;
       }
      .sect2btmbtn3:hover{
        background:#ed1c24;
       }

    .sect1{
        margin-top: 40px;
    }
    .sect1p{
        font-size: 40px;
        font-weight: 450;
        font-style: 50px;
    }
    
    .sect1btn{
        width: 250px;
        height: 50px;
        background-color: #ed1c24;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    
    }
    .sect4btn{
        width: 250px;
        height: 50px;
        background-color: #ed1c24;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    
    }

    .sect1p2{
        margin-top: -30px;
        font-size: 40px;
    }
    .sect2pcon{
        padding: 0px 1%;
        font-size: 35px;
        word-spacing: 1px;
        
    }
    
    .sect4{
        padding: 0px 18%;
      }
      .sect4img{
        width: 100%;
        height: 100%;
      }
      .sectimgcon{
        width: 100%;
        height: 420px;
        }
    
      .sectpcon{
        width: 100%;
        font-size: 15px;
        text-align: center;
      }
    
      .sect4p1{
       font-weight: 700;
       font-size: 25px;
    
      }

      .sect4div1{

        width: 100%;
    }
  }

  @media screen and (max-width: 480px) {

    .imgcon{
        width: 80%;
        margin-left: 30px;
      }
      .sect3{
        padding: 0px 5%;
      }
    

    .sect4{
        padding: 0px 6%;
      }
    .sect4img{
        width: 100%;
        height: 100%;
      }
      .sectimgcon{
        width: 100%;
        height: 330px;
        }

        .sect4btn{
            width: 230px;
            height: 50px;
            background-color: #ed1c24;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            font-family: "Montserrat", sans-serif;
        
        }
        .sect1btn{
            width: 230px;
            height: 50px;
            background-color: #ed1c24;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            font-family: "Montserrat", sans-serif;
        
        }

        .sect2topbtndiv{
            width: 100%;
         }

         .sect2topbtn1{
            background-position: 15px;
        }
        
        .sect2topbtn2{
        background-position: 30px;
        }
        
        .sect2topbtn3{
        background-position: 30px;
        }

        /* .sect2btmbtn1{
            width: 10%;
            height: 10%;
           }
           .sect2btmbtn2{
            width: 10%;
            height: ;
           }
           .sect2btmbtn3{
            width: 10px;
            height: 10px;
           } */
  }